
<h2>Project Dashboard is a business management tool that allows managers to create and track client projects.</h2>

<h3><%= link_to "Signup", signup_path %> or <%= link_to "Login", login_path %></h3>

<h3> <%= link_to "Login via Github", "/auth/github" %></h3>
