
<h3>Project Dashboard is a business management tool that allows users to create and track client projects.</h3>
<br>
<h3><%= link_to "Signup", signup_path %> or <%= link_to "Login", login_path %></h3>
<br>
<h3> <%= link_to "Login via Github", "/auth/github" %></h3>
