<br>
<H2>List of All Clients</H2>

<br>

<% @clients.each do |c| %>
<h2><%= link_to c.company_name, client_path(c) %> - User Count: <%= c.users.count%>- Project Count: <%= c.projects.count%></h2>
<br>

<% end %>

<%= link_to "Create New Client", new_client_path(@client) %>
