<H2>Client List</H2>

<h3><%= link_to "Create New Client", new_client_path(@client) %></h3>


<%= select_tag "company_name", options_from_collection_for_select(@clients, "company_name", "company_name") %><br><br>

<div style="overflow-x:auto;">
   <div class="scrollit">
    <table id="table">
      <tr>
        <th>Company Name</th>
      </tr>
      <% @clients.each do |c| %>
      <tr>
       <td><%= link_to c.company_name, client_path(c) %> </td>
     </tr>
     <% end %>
    </table>
  </div>
</div>
