/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* --- Reset Styles --- */
 * {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 html, body {
   height: 100%;
   width: 100%;
 }


/* --- Field_with_errors --- */

.field_with_errors input[type='text'] {
  border: 1px solid red;
}

.field_with_errors input[type='email'] {
  border: 1px solid red;
}

.field_with_errors input[type='password'] {
  border: 1px solid red;
}


/* --- Navigation --- */

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fcd500;
  color: black;
}

/* Add an active class to highlight the current page */
/*.active {
  background-color: #fcd500;
  color: black;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
