
// Place all the styles related to the main application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* --- All Styles --- */
* {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: black;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#007aff, #007aff, #0086ff, #0192ff, #029cff, #029cff, #23acfc, #3fb5ff, #5bc6fe, #74d5ff, #83defd, #8ee5ff, #9fecfe, #bcf5ff, #bdf6ff);
  }

h1 {

  color: #black;
}

/* --- Main Section Wrapper --- */

.wrapper {

  background: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 100px auto;
  max-width: 90%;
  padding: 2.25%; /* 18px / 800px */


}

/* --- Navigation --- */

  .topnav {
   background-color: #dbe0e2;
   overflow: hidden;

   a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
   }

   a:hover {
    background-color: #7c6cfa;
    color: white;
    }

    .icon {
    display: none;
    }

   }

/* --- Index Table --- */

   #table {
     // font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;


     td, th {
       border: 1px solid #ddd;
       padding: 8px;
     }

     tr:hover {background-color: #ddd;}

   th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #fcff42;
     color: black;
   }

 }

   .scrollit {
       overflow:scroll;
       height:200px;
   }




/* --- Footer --- */

 footer.branding {
   border-top: 2px solid #ccc;
   margin-top: 20px;
   padding-top: 20px;
 }

/* --- Field_with_errors --- */

.field_with_errors input[type='text'] {
 border: 1px solid red;
}

.field_with_errors input[type='email'] {
 border: 1px solid red;
}

.field_with_errors input[type='date'] {
 border: 1px solid red;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }
}
